<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Заголовок страницы{% endblock %}</title>
        <style>
            body {
                text-align: center;
                font-family: Arial, sans-serif;
                line-height: 1.5;
                margin: 0;
                padding: 20px;
            }
            div {
                margin-left: 600px;
                margin-right: 600px;
            }


        </style>
    </head>
    <body>
        <h1>Добро пожаловать на мой первый Django-сайт!</h1>
        {% block content %}
            <p>Контент на страницы</p>
        {% endblock %}
    </body>
    </html>