{% extends 'myapp3/base.html' %}

{% block title %}Framework Django!{% endblock %}

{% block content %}


        <h2>О сайте</h2>
        <div>
            <p>Этот сайт разработан с использованием Django, мощного фреймворка для создания веб-приложений на языке
            Python. Здесь я могу создавать и отображать различные страницы и данные в удобном формате.</p>
         </div>
         <nav>

            <button><a onclick="javascript:history.back(); return false;">Назад</a></button>

         </nav>
{% endblock %}
